<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js?59"></script>
    <title>Тут платить</title>
    <style>
        body{
            background-color: red;
        }
        h1{
            color:white
        }
        .email-text{
            font-size: 20px;
        }
        #email-input{
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Тут платить</h1>
    <p class="email-text">Напиши свой email</p>
    <input type="text" id="email-input">

    <script>
        const tg = window.Telegram.WebApp;
        tg.ready();
        tg.expand();
    </script>
</body>
</html>